  body{
    background: url(img/img.jpg) no-repeat; 
  }

  form{
    width: 30%;
    margin: 80px auto 10px auto;
  }

  form fieldset{
    background: rgba(162, 170, 172, .4);
    border-radius: 20px;
  }

  form legend{
    margin-bottom: 15px;
    text-align: center;
  }

  legend img{
    height: 128px;
    width: 128px;
    background-color: rgb(90, 20, 156);
    padding: 15px; 
    border: 5px solid orange;
    border-radius: 20px;
  }

  form input{
    border: none;
    outline: none;
    border-radius: 40px;
    display: block;
    width: 85%;
    height: 40px;
    margin: 0px auto 0px auto;
    padding-left: 10px;
  }

  form #username{
    background-image: url(img/user.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: right 10px center;
  }

  form #password{
    background-image: url(img/senha.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right 10px center;
  }

  form label{
    padding-left: 10%;
    font-weight: bold;
    color: navy;
  }

  #botaoEnviar{
    font-weight: bold;
    border: 1px solid gold;
    display: block;
    width: 87%;
    height: 40px;
    margin: 5px auto;
    background-color: orange;
    color: #FFF;
    cursor: pointer;
    margin-bottom: 40px;
  }

  p{
    padding-left: 20px;
    font-weight: bold;
    color: navy;
  }

  p a{
    color: orange;
  }

  footer{
    padding-top: 15px;
    background: rgba(162, 170, 172, .4);
  }

  /* @media para telas "medium" */
  @media (max-width: 992px) {
    form {
      width: 50%;
    }
  }

  /* @media para telas "small" */
  @media (max-width: 768px) {
    form {
      width: 70%;
    }
  }     