body{
    background-image: url(img/img.jpg);
    background-repeat: repeat;
} 

/*---------HEADER----------*/
header{
    border: 1px solid goldenrod;
    height: 90px;
}

nav{
    background: url(img/fundo.jpg);
}

button img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

ul{
    padding-top: 10px;
}

li a{
    color: gold;
    font-size: 20px;
    font-family: Chalkduster, fantasy;
}

li a:hover{
    color: goldenrod;
}

#logo{
    width: 60px;
    height: 60px;
}

#logout{
    width: 40px;
    height: 40px;
}

.form-inline{
    width: 300px;
}

#username{
    width: 250px;
}
/*-------------------------*/

/*---------SECTION---------*/
section{
    border: 1px solid goldenrod;
    height: 900px;
    background: rgba(162, 170, 172, .4);
    margin-top: 10px;
    margin-bottom: 10px;
}

#resultado_busca{
    border: 1px solid red;
    height: 98%;
    margin: 10px;
    padding: 10px;
}

#resultado_busca h2{
    color: goldenrod;
    font-size: 40px;
    font-family: Chalkduster, fantasy;
}

#resultado_busca p{
    font-size: 25px;
    font-family: Chalkduster, fantasy;
}
/*-------------------------*/

/*----------FOOTER---------*/
footer{
    border: 1px solid goldenrod;
    background: url(img/fundo.jpg);
    height: 50px;
    padding: 10px;
}

footer p{
    color: gold;
    font-size: 20px;
    text-align: center;
    font-family: Chalkduster, fantasy; 
}
/*-------------------------*/

/*--------BOOTSTRAP--------*/
  /*ExtraSmall devices */
  @media(max-width: 575px){
    #container{
        border: 1px solid purple;
        width: 100%;
        margin: 0px auto;
    }
  }
      
  /* Small divices [576px ou +] */
  @media(min-width: 576px){
    #container{
        /*border: 1px solid purple;*/
        width: 100%;
        margin: 0px auto;
    }
  }  

  /* Medium devices [768px ou +] */
  @media(min-width: 768px){
    #container{
        /*border: 1px solid purple;*/
        width: 90%;
        margin: 0px auto;
    }
  }    
      
  /* Large devices [992px ou +] */
  @media(min-width: 992px){
    #container{
        /*border: 1px solid purple;*/
        width: 80%;
        margin: 0px auto;
    }

    ul{
      margin-left: 330px;
    }
  }
/*-----------------------------*/

